.form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}
.form__field {
  font-family: 'Kanit', sans-serif;
  font-weight:300;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  color: rgb(0, 0, 0);
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
  text-align: center;
}
.form__field::placeholder {
  color: transparent;
}
.form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.form__label {
  position: absolute;
  top: 0;
  left: 44%;
  display: block;
  transition: 0s;
  font-size: 1rem;
  color: #616161;
  
  
}
.form__field:focus {
  padding-bottom: 6px;
  font-weight: 300;
  border-width: 3px;
  border-image: linear-gradient(to right, #2D9DDB, #2D9DDB);
  border-image-slice: 1;
  
}
.form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0s;
  font-size: 1rem;
  color: #2D9DDB;
  font-weight: 700;
  visibility: hidden;
}
/* reset input */
.form__field:required, .form__field:invalid {
  box-shadow: none;
 
}

